<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

  <bean id="address" class="com.ek.spring.demo04_SpEL.Address">
	<property name="city" value="#{'xian'}"></property> <!-- 设字面值 (意义不大) -->
	<property name="street" value="xiYingLu"></property>
  </bean>
  
  
  
  <bean id="employee" class="com.ek.spring.demo04_SpEL.Employee">
  	<property name="username" value="ekk"></property>
  	<property name="salary" value="10000"></property>
  	<property name="perimeter" value="#{T(java.lang.Math).PI * 10000}"></property> <!-- T 表示引用类的静态属性 -->
  </bean>
  
 
 
  <bean id="department" class="com.ek.spring.demo04_SpEL.Department">
  	<property name="employee" value="#{employee}"></property> <!-- 引用其它的bean 等价 ref -->
  	<property name="city" value="#{address.city}"></property> <!-- 引用其它的bean 的属性 -->
  	<property name="info" value="#{employee.salary > 9999 ? '金领':'白领'}"></property> <!-- 使用运算符 -->
  </bean>
</beans>


